<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false" scanPeriod="30 seconds">

    <property name="LOG_PATH" value="/tmp/owms"/>
    <property name="MODULE_NAME" value="COMMON"/>
    <property name="SERVICE_NAME" value="COMMON-Comm"/>

    <include resource="logback-appenders.xml"/>
    <include resource="logback-loggers.xml"/>

    <variable scope="context" name="mdcPattern" value="%replace(;%X{MSGKEY};%X{MSGDATA}){';+( |$)', ''}"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <logger name="org.openwms" level="DEBUG"/>
    <logger name="com.netflix.discovery" level="OFF"/>
    <logger name="org.springframework" level="WARN"/>

    <logger name="MEASURED" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="CORE_INTEGRATION_MESSAGING" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>